/* Global style*/
html{
    height: 100%;
    max-width: 1200px;
    background-color: red;
    font-family: "Open Sans", sans-serif;
}

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header, main, footer {
    display: block;
  }


body{
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

/* header */

.nav-bar{
    position: fixed;
    background-color: #ffffff;
    height: 80px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.name-nav {
    height: 80px;
    width: 50%;
    float: left;
}

#menu h1{
    font-family: "Aladin", system-ui;
    font-style: normal;
    font-size: xx-large;
    letter-spacing: 2px;
    text-align: left;
    color: #B4981F;
    padding-top: 4%;
    padding-left: 15%;
}
 
.menu-nav  {
    height: 80px;
    width: 50%;
    float: right;
}

#menu ul li a{
    display: flex;
    float: left;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style-type: disc;
    text-decoration: none;
}

#menu a{
    letter-spacing: 1px;
    padding-inline-start: 10%;
    font-style: normal;
    font-size: large;
    text-align: right;
    color: #747474;
}

/* main */
main{
    display: flex;
    float: right;
    flex-direction: column;
}

#inicio .inner-content{
    float: left;
    padding-top: 100px;
    width: 30%;
    background-position: center center;
    background-color: aqua;
}

#inicio .Slider{
    float: right;
    display: block;
    width: 70%;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
    padding: 0;
}

.item{
    padding: 0;
    width: 70%;
    box-sizing: border-box;
}


#nosotros .left-text-content .right-content{
    display: inline;
}

#nosotros .h6::before{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


#nosotros .left-text-content{
    background-color: green;
    float: left;
    width: 40%;
}

#nosotros .right-content{
    background-color: grey;
    float: left;
    width: 60%;
}

#servicios{
    background-color: #fbeff0;
}

#contacto{
    background-color: #383838;
}

/* footer */
footer{
    background-color: #DF8384;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-left-content{
    width: 40%;
    height: 100px;
    float: left;
    padding: 25px 80px 20px 80px;
}

.logo-footer{
    display: block;
    width: 20%;
    float: left;
}

.footer-right-content{
    width: 40%;
    height: auto;
    float: left;
    padding: 25px 80px 20px 80px;
}

.logo-footer img{
    display: block;
    margin: auto;
    padding: auto;
    width: 100px;
}

.footer-left-content img{
    float: left;
}

.footer-right-content img{
    float: right;
}

.social-icons img{
    width: 40px;
}
